

.App-logo {
  margin: 10px -45px -5px 0;
  width: 8%;
  min-width: 60px;
  display: inline-block;
  box-shadow: 2px 2px 5px black;
}

.App-header {
  text-align: center;
  background: #1e1108;
  height: 175px;
  color: white;
  border-bottom: 2px groove #1BA;
}

#facebook, #github {
    float: left;
    display: inline-block;
    margin: 10px 0 0 10px;
    height: 30px;
    width: 30px;
    padding: 0 0 5px 5px;
}

#codewars {
  float: right;
  display: inline-block;
  margin: 10px 10px 0 0;

}
