

.App-logo {
  margin: 10px -45px -5px 0;
  width: 5%;
  min-width: 20px;
  display: inline-block;
  box-shadow: 2px 2px 5px black;
}

.App-header {
  display: flex;
  padding: 2vh 0;
  background: #1e1108;
  height: 7%;
  color: white;
  border-bottom: 2px groove #1BA;
}

.App-header > h1 {
  flex: 1 1;
}

#facebook, #github {
    justify-self: flex-start;
    display: inline-block;
    margin: 0.5vh 0 0 1vw;
    height: 30px;
    width: 30px;
}

#githublink {
  flex: .95 1;
}

#codewars {
  justify-self: flex-end;
  display: inline-block;
  margin: 1vh 1vw 0 0;

}

.home-window {
  background: '../images/motif-batik-Sidomukti-solo.jpg';
}
