.batik {
  background: url('../images/mountainSnow.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.purpose {
  color: #f8f8ff;
}


