.box {
  height: 8vh;
  width: 25vw;
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-variant-caps: small-caps;
  border: solid thin #444;
  box-shadow: 3px 3px 10px black;
  flex: 1 1 1px;
}

#resume {
  background-image: url('https://images.pexels.com/photos/269810/pexels-photo-269810.jpeg?h=350&auto=compress&cs=tinysrgb');

}

#projects {
  background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?h=350&auto=compress&cs=tinysrgb');
}

#homepage {
  background-image: url('https://images.pexels.com/photos/239107/pexels-photo-239107.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.box:hover {
  border-color: white !important;
}
.clicked-box {
  background: black;
}
