.box {
  height: 8em;
  margin: 10vh 20vw;
  background-color: black;
  color: aliceblue;
  text-align: center;
  border: solid thin #444;
  box-shadow: 0px 10px 22px #555;
  flex: 1 1 1px;
  padding: 2vh;
}

.boxTitle {
  font-family: 'Raleway', sans-serif;
}

#resume {
  background-image: url('https://images.pexels.com/photos/269810/pexels-photo-269810.jpeg?h=350&auto=compress&cs=tinysrgb');

}

#projects {
  background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?h=350&auto=compress&cs=tinysrgb');
}

  /* for smart box */

/* .box:hover {
  border-color: white !important;
  cursor: pointer;
}

.clicked-box {
  background: black;
}
*/
