.teachingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachingProjects {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

@media (min-width: 800px) {
  #classPic {
    height: 50vh;
  }
}

@media (max-width: 799px) {
  #classPic {
    object-fit: cover;
    width: 100vw;
    height: 30vh;
  }
}

.classParagraph {
  padding: 0 3vw;
  flex: 1 1;
}
