.content-detail {
  text-align: center;
  padding: 20px 50px 10px 50px;
  background: #f8f8ff;
}

.small-container {
  display: inline-block;
  width: 40%;
  min-width: 200px;
}

.content-detail.simon {
  background-image: url('../images/wood.jpeg');
  padding: 20px 50px 10px 30px;
}
