.headroom {
  display: flex;
  width: 100vw;
  background-color: rgba(236, 236, 236, 0.8);
  color: #313137;
  align-items: center;
  white-space: nowrap;
}

.headroom-wrapper {
  border-bottom: 2px groove #1ba;
  padding: 2vw 2vw;
  min-height: 12vh;
}

.headroom > h1 {
  font-family: "Raleway", sans-serif;
  width: 120px;
  margin: 0 2vw;
}

.router-links {
  white-space: nowrap;
  min-width: 230px;
}
