@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f8f8ff;
}

a {
  font-size: 20px;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 300;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.top-row {
  display: flex;
}

.footer {
  text-align: center;
}
