.navigation {
  min-height: 150px;
  background-image: url('../images/motif-batik-Sidomukti-solo.jpg');
  border-bottom: 2px solid #1E1108;
  text-align: center;
}

.navbar {
  display: inline-block;
}
