.navigation {
  min-height: 150px;
  background-image: url('../images/motif-batik-Sidomukti-solo.jpg');
  border-bottom: 7px solid black;
  text-align: center;
}

.navbar {
  display: inline-block;
  margin: 0 20px 0 0;
}
