.link {
  font-size: 20px;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 300;
  color: black;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project_list {
  list-style: none;
  padding: 0;
}

ul {
  margin-left: -5px;
}
