.link {
  font-size: 20px;
  text-decoration: none;
  font-variant: small-caps;
  color: aliceblue;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project_list {
  list-style: none;
}

ul {
  margin-left: -40px;
}
