.link {
  font-size: 20px;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 300;
  color: black;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project_list {
  list-style: none;
  padding: 0;
}

ul {
  margin-left: -5px;
}

.project {
  display: flex;
  padding: 1vh 2vw;
}

.projectDescription {
  padding: 7vh 6vw;
}

.projectPhoto {
  height: 50vh;
}

.projectPhoto.arimos {
  background: url('../images/arimos.png');
  box-shadow: 0px 10px 22px #555;
  margin: 1em 0;
}

.projectPhoto.niyagapedia {
  background: url('../images/arimos.png');
  box-shadow: 0px 10px 22px #555;
  margin: 1em 0;
}
