
#simon-border {
  position: relative;
  margin: 50px 300px 0 300px;
  padding: 20px;
  height: 600px;
  width: 600px;
  background-color: #212121;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px #444
}

.simon-border h1 {
  font-size: 60px;
}


.button {
    z-index: 1;
}

#green-button {
  position: absolute;
  top: 33px;
  left: 33px;
  height: 250px;
  width: 250px;
  background-color: green;
  border-top-left-radius: 100%;

}
.green-button-lit {
  background-color: #3F3 !important;
}


#red-button {
  position: absolute;
  top: 33px;
  left: 316px;
  height: 250px;
  width: 250px;
  background-color: #B11;
  border-top-right-radius: 100%;
}

.red-button-lit {
  background-color: #F33 !important;
}


#yellow-button {
  position: absolute;
  top: 316px;
  left: 33px;
  height: 250px;
  width: 250px;
  background-color: #cc0;
  border-bottom-left-radius: 100%;
}

.yellow-button-lit {
  background-color: #FFFF40 !important;
}


#blue-button {
  position: absolute;
  top: 316px;
  left: 316px;
  height: 250px;
  width: 250px;
  background-color: #00A;
  border-bottom-right-radius: 100%;
}

.blue-button-lit {
  background-color: #4040FF !important;
}


#center-border {
  position: absolute;
  height: 310px;
  width: 310px;
  top: 145px;
  left: 145px;
  background-color: #212121;
  border-radius: 50%;
  z-index: 2;
}

#controls {
  position: absolute;
  height: 280px;
  width: 280px;
  top: 15px;
  left: 15px;
  background-color: #BDBDBD;
  border-radius: 50%;
  z-index: 3;
}

#counter-holder {
  position: absolute;
  top:130px;
  left: 40px;
  height: 60px;
  width: 60px;
}
#counter-holder > p {
  position: absolute;
  top: 45px;
  left: 5px;
}

@font-face {
    font-family: 'sf_digital_readoutmedium';
    src: url('./fonts/sfdigitalreadout-medium-webfont.woff2') format('woff2'),
         url('./fonts/sfdigitalreadout-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#counter {
  position: absolute;
  height: 40px;
  width: 60px;
  border-radius: 20%;
  background-color: #511;

  color: #FF3333;
}

#counter > p {
  position: absolute;
  top: -16px;
  left: 20px;
  font-family: 'sf_digital_readoutmedium';
  font-size: 50px;
}

#start-holder {
  position: absolute;
  top: 130px;
  left: 125px;
  height: 53px;
  width: 33px;
}
#start-holder > p {
  position: absolute;
  top: 45px;
  left: -3px;
}
#start-button {
  position: absolute;
  height: 33px;
  width: 33px;
  border: 4px solid #212121;
  background-color: red;
  border-radius: 50%;
}

#strict-holder {
  position: absolute;
  top: 130px;
  left: 195px;
  height: 53px;
  width: 33px;
}
#strict-holder > p {
  position: absolute;
  top: 45px;blue-button-lit
  left: -5px;
}
#strict-button {
  position: absolute;
  height: 33px;
  width: 33px;
  border: 4px solid #212121;
  background-color: yellow;
  border-radius: 50%;
}

#on-off-holder {
  position: absolute;
  top: 210px;
  left: 80px;
  height: 25px;
  width: 110px;
}

#on {
  float: right;
}

#off {
  float: left;
}

#on-off-switch {
  position: absolute;
  float: left;
  padding: 2px;
  left: 32px;
  height: 20px;
  width: 50px;
  background-color: #212121;
  border-radius: 4px;
}

#on-off-toggle {
  position: absolute;
  height: 16px;
  width: 24px;
  background-color: blue;
  border-radius: 2px;
}
